.no {
    background-color: red;
}

.klaviyo-script > div:not(.empty) > div {
    border: 1px solid #304F6C1A;
    border-bottom: none;
    padding-top: 32px;
    background-color: #fff;
}

.klaviyo-script{
    padding-bottom: 24px !important;
    background-color: #fff;
}

.klaviyo-script div:not(.empty) div p{
    padding-inline: 24px;
    font-family: var(--font-family-elza-semibold);
    font-weight: 600;
    font-size: var(--heading-font-size-m);
    line-height: 116.0%;
    letter-spacing: 3%;
    color: #000;
}

.klaviyo-script .klaviyo-form.needsclick{
     border: 1px solid #304F6C1A !important;
     border-top: none !important;
     padding-bottom: 22px !important;  /* button has 10px margin bottom */
}

.klaviyo-script .needsclick .klaviyo-form{
    padding: 24px !important;
}

@media screen and (width <=768px) {
    .klaviyo-script div:not(.empty) div p{
       font-size: 18px;
       position: relative;
       margin: 0;
       padding: 0 24px 24px;
    }

    .klaviyo-script div:not(.empty) div p::after{
        content: url("/icons/expand_more.svg");
        position: absolute;
        right: 20px;
        top: -4px;
    }

    .klaviyo-script.open div:not(.empty) div p::after{
        top: -12px;
        transform: rotate(180deg);
    }

    .closed{
        border: 1px solid #304F6C1A;
    }

    .closed > div:not(.empty) div{
        border: none;
        padding-top: 34px;
    }

    .klaviyo-script .klaviyo-form.needsclick{
        display: none !important;
    }

    .klaviyo-script{
        border: 1px solid #304F6C1A;
        padding-bottom: 10px !important;
    }

    .dsp-none{
        display: none !important;
    }

    .klaviyo-script .needsclick.dsp-block{
        display: block !important;
    }

    .klaviyo-script .needsclick.dsp-block .klaviyo-form{
        display: flex !important;
        padding: 0 22px 32px 18px !important;
    }
}