/* header css start */
header {
  min-width: 100%;
  height: 80px;
}

.header.block {
  height: 80px;
}

.experience-fragment.header-container .image:first-child {
  margin-bottom: 0;
}

.experience-fragment.header-container .image:first-child .cmp-image {
  max-width: 95px;
  width: unset !important;
}

@media screen and (width <=768px) {
  .experience-fragment.header-container .image:first-child .cmp-image {
    max-width: 57px;
    height: 32px !important;
  }
}

/* header css end */


.header-wrapper .nav-wrapper .breadcrumbs ol li a {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.header-wrapper .nav-wrapper .breadcrumbs ol li:empty::after a{
  color: #454B58;
}
